<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome <%= @user.name %></h1>
    <p>
      Thank you for joining our Investor Site
    </p>
    <p>
      We look hope enjoy testing your investment ideas.
    </p>
<p>You are now an active user on the - <a href='nvestr.denenberg.net'>DenVestr Colaboration Site</a></p>
	
<br>
  </body>
</html>