<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome</h1>
    <p>
      Thank you for joining our family Investor Site
    </p>
    <p>
      We look forward to working together
    </p>
<p>You are now an active user on the - <a href='nvestr.denenberg.net'>DENVestr Colaboration Site</a></p>

<p>Your username is your <b>family email address</b>.  Your Password is our <b>dog's name</b> ( one word, all lowercase, no numbers... )</p> 


	
<br>
  </body>
</html>