<%= render 'tabs' %>				

<table class='table table-condensed table-bordered table-striped'>
			
		<tr>
			<th colspan=1>Member</th>
			<th colspan=3 class='aln_c'>Position</th>
			<th colspan=4 class='aln_c'>Comments</th>
		</tr>
		<tr>
			<th></th>
			<th>Stock</th>
			<th class='aln_c'>Purchase Price</th>
			<th class='aln_c'>Days Held</th>
			<th colspan=4 class='aln_c'></th>
		</tr>



</table>



