<script class="include" language="javascript" type="text/javascript" src="/assets/jqplot/jqplot.dateAxisRenderer.min.js"></script>


<script>

$(document).ready(function(){
	
$('#portfolio_id').change(function () {
//	alert('test') ;
  StartSpinner() ;
   Portfolio_is = document.getElementById('portfolio_id').value ;
        $.get('/stocks/family_fun_positions', { portfolio:Portfolio_is} , null, 'script');
        return false;
});

});


</script>

<%= link_to 'Home', start_path, :class => 'btn btn-mini'%><br><br>


<%= select_tag("portfolio_id", options_for_select(Portfolio.where(:user_id => current_user).collect {|p| [ p.name] } ) ) %>
<div id='spinner' style='display:none;'><%= image_tag '/assets/ajax-loader.gif' %></div>			

<table style="margin: auto;">
  <tr>
	<td><td>
	<td>
		<div style="text-align:center;" id='index'>
	</td>
	<td></td>
  </tr>
</table>
<br><br>


<h3>All Portfolio Transactions</h3>

<% Translog.read_log[1..-1].each do |logfile| %>
<%= logfile %><br>
<% end %>




