
<div data-role="page" id="page1">
    <div data-theme="a" data-role="header">
		<a href="/stocks?mobile=1" data-icon="home" data-direction="reverse">Home</a>
        <h3>DENvestR</h3>
    </div>

<div data-role="content">
	<b>Add position</b>
  <%= @notice %>

<%= render 'form' %>

</div>

</div>
