<div data-role="page" id="page1">
    <div data-theme="a" data-role="header">
		<a href="/stocks?mobile=1" data-icon="home" data-direction="reverse">Home</a>
        <h3>DENvestR</h3>
    </div>

<div data-role="content">
	
	<h2>Add position</h2>

<%= render 'form' %>

<%= link_to 'Back', stocks_path %>

</div>

</div>
