<style type="text/css">
  body {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  /* Custom container */
  .container-narrow {
    margin: 0 auto;
    max-width: 700px;
  }
  .container-narrow > hr {
    margin: 30px 0;
  }

  /* Main marketing message and sign up button */
  .jumbotron {
    margin: 60px 0;
    text-align: center;
  }
  .jumbotron h1 {
    font-size: 72px;
    line-height: 1;
  }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
  }

  /* Supporting marketing content */
  .marketing {
    margin: 60px 0;
  }
  .marketing p + h4 {
    margin-top: 28px;
  }
</style>

<br>

<div class="container-narrow">

			<h3>Youtube Channels</h3>
			<a href='http://www.youtube.com/winnetkaporteno'>Winnetka Porteno </a><br>
			<a href='http://www.youtube.com/124osprey'>124 Osprey Point</a><br>			
			<br>
	 <h3>Video Cameras</h3>
			<a href='http://winnetka.dyndns.org:8081'>Winnetka Cameras</a><br>
			<a href='http://ospreypointlane.dtdns.net:8081'>Kiawah Cameras</a><br>
			<br>
			
			<h3>Albums</h3>	
	
			<a href='http://picasaweb.google.com/andydenenberg'>Latest Pics</a><br>
			<a href='http://picasaweb.google.com/winnetkaporteno'>Winnetka Porteno </a><br>
			<a href='http://picasaweb.google.com/brasilexplorador'>Brasil Explorador </a><br>
			<a href='http://picasaweb.google.com/scotlandireland2008'>Scotland and Ireland Golf </a><br>
			<a href='http://picasaweb.google.com/410cowboy'>Jackson Hole </a><br>
			<a href='http://www.flickr.com/photos/flirtybirdy/'>Flirty Birdy </a><br>
			<a href='http://picasaweb.google.com/smoothswing626'>Smooth Swing </a><br>
			<a href='http://picasaweb.google.com/denfamone'>CSU Reunion</a><br>
			<a href='http://picasaweb.google.com/sharkhunterswithballs'>Shark Hunters </a><br>



			<a href='http://www.flickr.com/photos/denenberg/sets/'>Flikr Sets </a><br>		  
			<a href='http://picasaweb.google.com/confederateayatollah'h>Confederate Ayatollah </a><br>
			<a href='http://picasaweb.google.com/fabulousgolf'>Fabulous Golf </a><br>




</div>
 <!-- /container -->


