<!-- Home -->
<div data-role="page" id="page1">
    <div data-theme="a" data-role="header">
        <h3>
            DENvestR
        </h3>
    </div>
    <div data-role="content">
        <h3>
            Welcome to our Collaboration!
        </h3>
        <h5>
            Working together to make better investments
        </h5>
        <form action="">
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="textinput1">
                        Email
                    </label>
                    <input name="" id="textinput1" placeholder="" value="" type="text" />
					<br>
                    <label for="textinput2">
                        Password
                    </label>
                    <input name="" id="textinput2" placeholder="" value="" type="password" />
					<br>
					<input type="submit" data-icon="forward" data-iconpos="bottom" value="Login" />
		            
                </fieldset>
            </div>
        </form>
    </div>

    <div data-theme="a" data-role="footer" data-position="fixed">
        <h3>
            Denenberg @2013
        </h3>
    </div>
</div>
