<style>
.center-wrapper{
text-align: center;
}
.center-wrapper * {
margin: 0 auto;
}
</style>

<!-- Home -->
<div data-role="page" id="page1">
    <div data-theme="a" data-role="header">
        <h3>
            DENvestR
        </h3>
    </div>
    <div data-role="content">
	
		<div class='center-wrapper'>
<br>	
        <h1>Welcome to our Collaboration!</h1>
<br>
        <h3>Working together to make better investments</h3>
<br>
		<h3>Leveraging each other's insights and experience</h3>
<br>
<br>
		<%= link_to 'Start', stocks_path, 'data-role' => "button", 'data-theme' => "e" , :class => 'center-wrapper' %>

		</div>


    <div data-theme="a" data-role="footer" data-position="fixed">
        <h3>
            Denenberg @2013
        </h3>
    </div>
</div>
