<!-- Home -->
<div data-role="page" id="page1">
    <div data-theme="a" data-role="header">
        <h3>
            DENvestR
        </h3>
    </div>
    <div data-role="content">
        <h2>
            Welcome to our Collaboration!
        </h2>
        <h5>
            Working together to make better investments
        </h5>

        <div class="ui-grid-a">
            <div class="ui-block-b">
		<%= link_to 'Start', stocks_path, 'data-role' => "button", 'data-theme' => "e" %>
            </div>
        </div>


    <div data-theme="a" data-role="footer" data-position="fixed">
        <h3>
            Denenberg @2013
        </h3>
    </div>
</div>
